<div class="main-content">
  <div class="row1">
    <div class="title">
      <p>Get in touch</p>
      <div class="row">
        <p class="header-content p1">loremipsumpk@gmail.com</p>
        <img src="assets/email.png" />
      </div>
      <div class="row">
        <p class="header-content p1 p2">
          Floor 3, One Expressway, Gulberg Greens, Islamabad
        </p>
        <img src="assets/maps-and-flags.png" />
      </div>
    </div>
  </div>

  <div class="title">
    <div class="row1 follow">
      <p class="">Follow us</p>
      <div class="row images">
        <img class="images2" src="assets/facebook.png" />
        <img class="images2" src="assets/instagram.png" />
        <img class="images2" src="assets/twitter.png" />
        <img src="assets/youtube.png" />
      </div>
    </div>

    <div class="row header-content footer-links">
      <p class="footer-content">Contact</p>
      <p class="footer-content">Disclaimer</p>
      <p class="footer-content">Privacy policy</p>
      <p>@2020 Lorem Ipsum, Pvt. Ltd. All rights reserved</p>
    </div>
  </div>
</div>
