<div class="main-hero">
  <div class="content">
    <span>Lorem ipsum dolor sit</span><span>amet consectetur</span>
    <p
      class="element"
      [style.background-color]="bgColor"
      (click)="changeText()"
      (click)="changeBg()"
    >
      {{ buttonText }}
    </p>

    <p class="p">Lorem ipsum dolor sit amet,</p>
    <p class="p p1">consectetur adipiscing elit, sed do eiusmod.</p>

    <button class="main-button">
      See the best franchises<fa-icon
        class="icon-play"
        [icon]="faplayIcon"
      ></fa-icon>
    </button>
  </div>
  <div class="food-img">
    <img src="assets/Image 45.png" alt="Food Shops" />
  </div>
</div>
