span:before {
  content: "\a";
  white-space: pre;
}

.main-hero {
  background-image: url("../../../assets/Bg.svg");
  height: 700px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.content {
  color: white;
  font-family: "Gilroy-bold";
  font-size: 43px;
  padding-top: 50px;
}
.content .p {
  font-family: "Roboto";
  font-size: medium;
  padding: 0;
}
.food-img {
  height: auto;
  margin-top: 3px;
  padding-top: 30px;
  @media only screen and (min-width: 640px) {
    display: none;
  }
}
