span:before {
  content: "\a";
  white-space: pre;
}

.main-hero {
  background-image: url("/assets/Bg.svg");
  height: 700px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.content {
  color: white;
  font-family: "Gilroy-bold";
  font-size: 43px;
  padding-top: 50px;
}
.p {
  font-family: "Roboto-light";
  font-size: 20px;
  padding-top: 20px;
}
.p1 {
  padding-top: 5px;
}
.food-img {
  height: auto;
  margin-top: 3px;
  padding-top: 30px;
  display: none;
}
.element {
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content;
  margin-top: 20px;
  background-color: #6184d8;
  color: white;
  cursor: pointer;
  width: fit-content;

  /* transition: background-color 0.4s ease-out color 0.4s ease-in; */
}
@media (min-width: 479px) {
  .food-img {
    display: block;
  }
}
.element:hover {
  animation: up-down 1s ease-in-out infinite;
}
@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
