<div class="main-hero">
    <div class="content">
        <span>Lorem ipsum dolor sit</span><span>amet consectetur</span>
        <p  class="p">Lorem ipsum dolor sit amet,</p><p class="p">consectetur adipiscing elit, sed do eiusmod.</p>  
        <br>
        <button class="main-button" >See the best franchises<fa-icon class="icon-play"   [icon]="faplayIcon"></fa-icon> </button>
      
    </div>
    <div class ="food-img" > 
        <img  src="../../../assets/Image 45.png" alt="Food Shops">
    </div>
</div>