.main-content {
  width: 100%;
  height: fit-content;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  background-color: black;
}
p {
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card {
  width: 100%;
}

@media (min-width: 476px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1040px) {
  .main-content {
    grid-template-columns: repeat(5, 1fr);
  }
}

.quote {
  padding-top: 40px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.p1 {
  font-family: "Roboto-bold";
  font-size: 25px;
  padding-top: 10px;
}
.p2 {
  font-family: "Roboto-light";
  font-size: 16px;
  padding-top: 10px;
}
li {
  display: list-item;
}
