<div class="main-content">
  <div
    class="card"
    *ngFor="let card of cardData"
    [style.background-color]="card.bgcolor"
  >
    <ul>
      <li class="quote">
        <img [src]="card.imgurl1" alt="quote" />
      </li>
      <li>
        <p>{{ card.content }}</p>
      </li>
      <li class="quote">
        <img [src]="card.imgurl2" alt="Image" />
      </li>
      <li>
        <p class="p1">{{ card.title }}</p>
      </li>
      <li>
        <p class="p2">{{ card.desc }}</p>
      </li>
    </ul>
  </div>
</div>
