img {
  height: 231px;
  width: 209px;
}
.body-content {
  background-color: #08083d;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}
.title {
  color: white;
  text-align: center;
  padding-top: 70px;
  font-family: "Gilroy-extra-bold";

  font-size: 30px;
}
.content {
  color: white;
  font-family: "Gilroy-bold";
  font-size: 43px;
  padding-top: 50px;
}
.icon {
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  background-color: #6184d8;
  flex-direction: column;
  justify-content: center;
}

.p {
  font-family: "Roboto-light";
  font-size: 24px;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  /* display: none; */
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.carousel__btn:hover {
  color: #ccc;
}

.carousel__btn--prev {
  left: 0;
}

.carousel__btn--next {
  right: 0;
}

/* .carousel__image-container {
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
} */

.carousel__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 479px) {
  /* .carousel {
    display: block;
  } */
  .title {
    font-size: 45px;
  }
  .body-content {
    padding: 20px;
  }
  .p1 {
    text-align: center;
    padding-bottom: 40px;
  }
  img {
    height: fit-content;
    width: fit-content;
  }
  .carousel__image-container[_ngcontent-dwc-c26] {
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
    width: 297px;
    height: 424px;
    display: flex;
  }
}
