ul {
  list-style: none;
  margin-right: auto;
}
li {
  display: inline-block;
  padding: 0 1em;
}

.body-content {
  background-color: #e8efff;
  padding-bottom: 73px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.title {
  color: #08083d;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 58px;
  font-family: "Gilroy-extra-bold";
  font-size: 45px;
}
.content-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
}
.content-tick {
  text-align: center;
  display: grid;
  row-gap: 1px;
  grid-template-columns: auto auto auto;
  height: 45px;
}
.content-tick .desc {
  color: #08083d;
  font-family: "Roboto-extrabold";
  font-size: 20px;
  padding-left: 15px;
}
