ul {
  list-style: none;
  margin-right: auto;
}
li {
  display: inline-block;
  padding: 0 1em;
}

.body-content {
  background-color: #e8efff;
  padding-bottom: 73px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.title {
  color: #08083d;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 32px;
  font-family: "Gilroy-extra-bold";
  font-size: 24px;
}
.content-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.content-tick {
  row-gap: 1px;
  height: 45px;
}
.content-tick .desc {
  color: #08083d;
  font-family: "Roboto-extrabold";
  font-size: 14px;
  padding-left: 15px;
}

.tick-container {
  display: flex;
}

@media (min-width: 479px) {
  .title {
    font-size: 40px;
  }
  .desc {
    font-size: 20px !important;
  }
}
