<div class="main-content">
  <h1>Lorem Ipsum Dolor Sit</h1>
  <div class="container">
    <div class="content-tick" *ngFor="let image of cardData">
      <ul>
        <div class="flex">
          <div class="content-container">
            <li>
              <p class="srno">{{ image.srno }}</p>
            </li>
            <li>
              <p class="srno title">{{ image.title }}</p>
            </li>
            <li>
              <p class="desc">{{ image.desc }}</p>
            </li>
          </div>
          <li class="circle">
            <img width="40px" height="40px" [src]="image.imgUrl" alt="Image" />
          </li>
        </div>

        <li class="chevron">
          <img width="32px" height="32px" [src]="image.imgUrl2" alt="Image2" />
        </li>
      </ul>
    </div>
    <div class="rect">
      <p class="srno heading2 rect1">Lorem Ipsum Dolor Sit...</p>
      <p class="desc rect2">
        Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Integer enim neque
      </p>
    </div>
  </div>
</div>
