<div>
  <app-header></app-header>
  <app-hero-content></app-hero-content>
  <app-body-content1></app-body-content1>
  <app-body-content2></app-body-content2>
  <app-body-content3></app-body-content3>
  <app-body-content4></app-body-content4>
  <app-body-content5></app-body-content5>
  <app-body-content6></app-body-content6>
  <app-body-content7></app-body-content7>
  <app-body-content8></app-body-content8>
  <app-body-content9></app-body-content9>
  <app-body-content10></app-body-content10>
  <footer></footer>
</div>
