<div class="main-content">
  <h1>Lorem Ipsum Dolor Sit Amet</h1>
  <img src="../../../assets/OBJECTS.svg" />
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
    Quisque volutpat mattis eros. <br />
    Nullam malesuada erat ut turpis Suspendisse urna nibh.<br />
  </p>
  <p class="p p1">
    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit
    amet orci. Aenean <br />
    dignissim pellentesque felis.
  </p>
  <p class="p-bold">Morbi in sem quis dui placerat ornare pellentesque</p>
  <button class="main-button button1">Schedule a call today!</button>
</div>
