p {
  color: white;
  letter-spacing: 0;
  padding-top: 30px;
  font-family: "Roboto-light";
}

.p1 {
  padding-top: 15px;
}
.p-bold {
  font-family: "Roboto-bold";
}
h1 {
  font-size: 35px;
  font-family: "Gilroy-bold";
  color: white;
}
img {
  height: 100px;
  width: 196px;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  height: fit-content;
  background-image: linear-gradient(to right, #6184d8, #08083d);
}
.main-button {
  width: fit-content;
  font-size: initial;
  padding: 14px;
  height: auto;
}

@media (min-width: 768px) {
  .main-button {
    margin-top: 30px !important;
    font-size: 20px;
    height: 65px;
    justify-content: center;
    letter-spacing: 0.25px;
    width: 310px;
  }
  h1 {
    padding-top: 70px;
    font-family: "Gilroy-bold";
    color: white;
    font-size: 50px;
    padding-bottom: 30px;
  }
  img {
    height: auto;
    width: auto;
  }
  p {
    color: white;
    letter-spacing: 0;
    text-align: center;
    padding-top: 30px;
    width: 50%;
    font-family: "Roboto-light";
  }
}
