<div class="main-content">
  <div class="container">
    <p class="title">Lorem Ipsum Dolor Sit Amet</p>
    <p class="title title1">LOREM IPSUM</p>
    <p class="p2">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
      <br />
      Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
      <br />
      urna nibh, viverra non, semper suscipit, posuere a, pede.
    </p>
    <p class="p p1 p2">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.<br />
      Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
      <br />
      urna nibh, viverra.
    </p>
    <div class="align">
      <button class="main-button button1">Schedule a call today!</button>
    </div>
  </div>
  <div class="container"></div>
</div>
