p {
  font-family: "Roboto-light";
  color: white;
  font-size: 21px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.p1 {
  padding-top: 0;
}

.main-content {
  background-image: url("/assets/Mcdonalds.png");
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  flex-direction: column;
  height: fit-content;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.title {
  color: white;
  padding-top: 70px;
  font-family: "Gilroy-extra-bold";
  letter-spacing: normal;
  font-size: 35px;
  width: auto;
  padding-bottom: 0;
}
.title1 {
  color: #23ce6b;
  padding-top: 0;
  padding-bottom: 30px;
}
.p2 {
  font-size: 16px;
}

.main-button {
  margin-top: 30px !important;
  width: fit-content;
  font-size: initial;
  padding: 14px;
  height: auto;
}

@media (min-width: 768px) {
  .p {
    font-family: "Roboto-light";
    color: white;
    font-size: 21px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 40%;
  }
  .container {
    width: 50%;
  }
  .title {
    font-size: 45px;
  }
  .p2 {
    font-size: 21px;
  }
  .main-button {
    margin-top: 30px !important;
    font-size: 20px;
    height: 65px;
    justify-content: center;
    letter-spacing: 0.25px;
    width: 310px;
  }
}
