<div class="main-content">
  <p class="title">Lorem Ipsum Dolor Sit Amet</p>
  <p class="title title1">LOREM IPSUM</p>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. <br />
    Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
    <br />
    urna nibh, viverra non, semper suscipit, posuere a, pede.
  </p>
  <p class="p p1">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.<br />
    Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse
    <br />
    urna nibh, viverra.
  </p>
  <div class="align">
    <button class="main-button">
      Schedule a call today!<fa-icon
        class="icon-play"
        [icon]="faplayIcon"
      ></fa-icon>
    </button>
  </div>
</div>
