<div class="main-header">
  <!-- <fa-icon class="icon-play" [icon]="faBarIcon"></fa-icon> -->
  <div class="hamburger-wrapper">
    <fa-icon
      (click)="toggleMenu()"
      class="hamburger-icon"
      [icon]="faBarIcon"
    ></fa-icon>
    <div class="menu" *ngIf="isMenuOpen">
      <!-- Menu contents here -->
      <ul>
        <li class="contents">How it works</li>
        <li class="contents">Franchise list</li>
        <li class="contents">Franchising guide</li>
      </ul>
    </div>
  </div>

  <div class="header-logo">
    <p>YOUR LOGO</p>
  </div>
  <div class="header-content">
    <ul>
      <li>How it works</li>
      <li>Franchise list</li>
      <li>Franchising guide</li>
      <button class="header-button button1">Contact</button>
    </ul>
  </div>
</div>
