ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
li {
  display: inline-block;
  padding: 0 1em;
}

.main-header {
  color: #08083d;
  background: #08083d 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  border: 1px solid black;
  border-bottom-color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 31px;
  padding-bottom: 31px;
}
.header-logo {
  color: rgb(255, 255, 255);
  margin-top: 15px;
  font-size: x-large;
  font-family: "Gilroy";
  padding-right: 20px;
}

.header-button {
  background-color: #23ce6b;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  height: 40px;
  font-family: "Gilroy-semibold";
  margin-left: 20px;
  width: 138px;
}
.button1 {
  border-radius: 5px;
}
.hamburger-icon {
  width: 28px;
  height: 20px;
  color: white;
}
.menu {
  color: #08083d;
  background-color: white;
  border: none;
  position: absolute;
  top: 24px;
}

.contents {
  width: 140px;
  border: 1px;
  border-bottom-color: #08083d;
  font-family: "Gilroy-light";
  opacity: 0.8;
  border: 1px solid #dcdde5;
  border-bottom-color: white;
}
.contents:hover {
  background-color: #8484dfbe;
}

.hamburger-wrapper {
  display: block;
  position: relative;
  padding-left: 20px;
}

.header-content {
  display: none;
}

@media (min-width: 479px) {
  .hamburger-wrapper {
    display: none;
    padding-left: 0;
  }
  .header-content {
    display: flex;
  }
  .main-header {
    justify-content: space-evenly;
  }
  .header-logo {
    padding-right: 0;
  }
}
