<div class="body-content">
  <div class="contentheading">
    <p class="title">Lorem</p>
    <p class="title title1">Ipsum Dolor</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Integer enim neque
      volutpat ac tincidunt vitae semper. Ullamcorper eget nulla facilisi etiam
      dignissim diam quis enim. Enim eu turpis egestas pretium aenean pharetra
      magna ac. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor.
      <br />
      <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Sapien eget mi proin
      sed libero enim. Etiam sit amet nisl purus in mollis nunc sed id. Placerat
      in egestas erat imperdiet. Etiam tempor orci eu lobortis elementum nibh
      tellus molestie nunc. Felis eget velit aliquet sagittis id consectetur.
    </p>
    <p>Read more...</p>
  </div>
  <!-- <div class="content-image-overlap">
    <img src="../../../assets/Group 2116.png" />
    <img src="../../../assets/Group 2394.png" />
  </div> -->
</div>
