p {
  color: white;
  font-family: "Roboto-light";
  /* width: 50%; */
  opacity: 1;
  padding-top: 38px;
  line-height: 1.6;
}

.body-content {
  background-color: #6184d8;
  padding: 20px;
  opacity: 90%;
  display: flex;
}
.contentheading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #23ce6b;
  font-family: "Gilroy-extra-bold";
  font-size: 45px;
  padding-top: 20px;
  height: 65px;
}
.title1 {
  color: white;
  padding-top: 0;
}

.content-image-overlap {
  padding-top: 60px;
  height: 50px;
  width: 50%;
}

.content-image-overlap img {
  position: absolute;
  left: 20px;
}

.content-image-overlap img:first-child {
  z-index: -1;
}
.content-image-overlap img:last-child {
  z-index: -5;
}

.img {
  display: none;
}

@media (min-width: 479px) {
  .img {
    display: block;
  }
  p {
    width: 50%;
  }
  .body-content {
    padding-bottom: 56px;
    padding-right: 0;
  }
}
/* @media (min-width: 1024px) {
  .img {
    display: block;
  }
 
} */
